.pane-module .module-head {
    color: #333;
    padding: 0;
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 700;
}

.pane-module .column-wrap{
    margin-top: 0px;
}

.mb-40{
    margin-bottom: 40px;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0; /*初始状态 透明度为0*/
    }
    50% {
        opacity: 0; /*中间状态 透明度为0*/
    }
    100% {
        opacity: 1; /*结尾状态 透明度为1*/
    }
}

.myalert{
    -webkit-animation-name: fadeIn; /*动画名称*/
    -webkit-animation-duration: 3s; /*动画持续时间*/
    -webkit-animation-iteration-count: 1; /*动画次数*/
    -webkit-animation-delay: 0s; /*延迟时间*/
}