.column-wrap {
    position: relative;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #303030;
    padding-left: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.column-wrap:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 21px;
    background: #f63756;
    left: 0;
    top: 14px;
}

.column-title{
    padding-left: 15px;
}