<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tuzixinwen.mapper.ThemeMapper">

    <resultMap id="BaseResultMap" type="com.tuzixinwen.model.Theme">
        <!--主题ID-->
        <id column="theme_id" jdbcType="INTEGER" property="themeId"/>
        <!--主题编码-->
        <result column="theme_code" jdbcType="VARCHAR" property="themeCode"/>
        <!--频道名称-->
        <result column="channel_name" jdbcType="VARCHAR" property="channelName"/>
        <!--主题名称-->
        <result column="theme_name" jdbcType="VARCHAR" property="themeName"/>
        <!--主题url-->
        <result column="theme_url" jdbcType="VARCHAR" property="themeUrl"/>
        <!--主题描述-->
        <result column="theme_desc" jdbcType="VARCHAR" property="themeDesc"/>
        <!--头像-->
        <result column="avatar_normal" jdbcType="VARCHAR" property="avatarNormal"/>
        <!--小头像-->
        <result column="avatar_mini" jdbcType="VARCHAR" property="avatarMini"/>
        <!--背景图片-->
        <result column="avatar_large" jdbcType="VARCHAR" property="avatarLarge"/>
        <!--1 删除 0 默认-->
        <result column="is_delete" jdbcType="BIT" property="isDelete"/>
        <!--创建时间-->
        <result column="create_date" jdbcType="TIMESTAMP" property="createDate"/>
        <!--更新时间-->
        <result column="update_date" jdbcType="TIMESTAMP" property="updateDate"/>
    </resultMap>

    <sql id="Base_Column_List">
        theme_id, theme_code, channel_name, theme_name, theme_url, theme_desc, avatar_normal, avatar_mini,
        avatar_large, is_delete, create_date, update_date
    </sql>

    <!--查询所有主题-->
    <select id="findThemeAll" resultType="com.tuzixinwen.model.Theme">
        SELECT
          theme_id,
          theme_code,
          theme_name,
          theme_url,
          theme_desc,
          avatar_normal
        FROM
          theme
        WHERE
          is_delete = 0
        AND
          theme_name NOT IN ('None','')
        ORDER BY
          create_date desc
        <if test="pageNo != null">
            LIMIT #{pageNo}
            <if test="pageSize != null">
                ,#{pageSize}
            </if>
        </if>
    </select>
</mapper>