.navbar, .sidebar-mask {
    position: fixed;
    top: 0;
    left: 0;
}

.navbar {
    z-index: 20;
    right: 0;
    height: 3.6rem;
    background-color: #fff;
    box-sizing: border-box;
    border-bottom: 1px solid #eaecef;
}

.navbar {
    padding: .7rem 1.5rem;
    line-height: 2.2rem;
    position: relative;
}

.sidebar-button {
    display: none;
    width: 1.25rem;
    height: 1.25rem;
    position: absolute;
    padding: .6rem;
    top: .6rem;
    left: 1rem;
}

.navbar a, .navbar img, .navbar span {
    display: inline-block;
}

.navbar .site-name {
    font-size: 1.3rem;
    font-weight: 600;
    color: #2c3e50;
    position: relative;
}

.navbar .links {
    padding-left: 1.5rem;
    box-sizing: border-box;
    background-color: #fff;
    white-space: nowrap;
    font-size: .9rem;
    position: absolute;
    right: 1.5rem;
    top: .7rem;
    display: flex;
}

.navbar .links .search-box {
    flex: 0 0 auto;
    vertical-align: top;
}
.search-box {
    display: inline-block;
    position: relative;
    margin-right: 1rem;
}

.search-box input {
    cursor: text;
    width: 10rem;
    color: #4e6e8e;
    display: inline-block;
    border: 1px solid #cfd4db;
    border-radius: 2rem;
    font-size: .9rem;
    line-height: 2rem;
    padding: 0 .5rem 0 2rem;
    outline: none;
    transition: all .2s ease;

    background-size: 1rem;
}

.navbar .links .nav-links {
    flex: 1;
}
.nav-links {
    display: inline-block;
}

.nav-links .nav-item:first-child {
    margin-left: 0;
}
.nav-links .nav-item {
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
    line-height: 2rem;
}

.navbar a, .navbar img, .navbar span {
    display: inline-block;
}
.nav-links a {
    line-height: 1.4rem;
    color: inherit;
}

.fixed-header{
    border-bottom: 1px solid rgb(232, 232, 232);
}

.fixed-nav{
    border-bottom: 1px solid rgb(232, 232, 232);
}

.fixed-header .header0-nav{
    margin-left: 15.5%;
}

.header1-logo {
    display: inline-block;
    position: absolute;
    /*left: 12.5%;*/
    width: 150px;
    line-height: 64px;
}

.top-header .fixed-header {
    border-bottom: 0px solid rgb(232, 232, 232);
}

.top-header .ant-layout-header {
    background: #001529;
    padding: 0;
    height: 64px;
    line-height: 64px;
}

.header[data-v-662bf35a] {
    width: 100%;
    height: 2.27rem;
    padding: .19rem .48rem;
    background: #da3838;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5;
}

.header .user[data-v-662bf35a] {
    width: .63rem;
    height: .63rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAD8AAAA/CAMAAABggeDtAAAAqFBMV…+H8ssD3//feH986v1D31/p/f2VkvfXO++/z78/6fv3c/APssej3aAydrkAAAAASUVORK5CYII=) no-repeat 50%;
    background-size: 100%;
    margin-top: .14rem;
    float: left;
    border-radius: 100%;
}

.header .search[data-v-662bf35a] {
    width: .51rem;
    height: .51rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADMAAAAzCAMAAAANf8AYAAAAb1BMV…AuT8HTC4bEGROqkWwTMKH3HdCDCUUWjJBMKE9wj9jqCnFIX4DHM9pVzs20AAAAAElFTkSuQmCC) no-repeat 50%;
    background-size: 100%;
    float: right;
    margin-top: .15rem;
}

/*.header .logo-wrapper[data-v-662bf35a] {
    width: 2.8rem;
    height: .48rem;
    margin: 0 auto;
    margin-top: .165rem;
}*/

/*.header .logo-wrapper .logo-text[data-v-662bf35a] {
    width: 2.22rem;
    height: 1.48rem;
    background: url(https://static.17kxw.com/images/logo-8.png) no-repeat 50%;
    background-size: 100%;
    float: left;
}*/
.header .logo-wrapper .refresh[data-v-662bf35a] {
    width: .36rem;
    height: .33rem;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAhCAMAAACGE/kZAAAAllBMV…2sIOIvCagzkAozB0hUI1fLaaGA0gArjjLO7PPvat+cBu5/VWcQfOXBWc8AAAAASUVORK5CYII=) no-repeat 100%;
    background-size: 100%;
    float: right;
    margin-top: .075rem;
}

.logo-text img{
    width: 74px;
    height: 30px;
}