.wrap-left.pull-left{
    padding-left: 15px;
    padding-right: 15px;
}

.media-body, .media-left, .media-right {
    display: table-cell;
    vertical-align: top;
}

.media-left, .media>.pull-left {
    padding-right: 20px;
}

.article .avatar {
    width: 220px;
    height: 124px;
    max-width: 220px;
    border-radius: 4px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    word-break: normal;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.excerpt {
    /*font-size: 16px;*/
    line-height: 1.8;
    margin-bottom: 4px;
    max-height: 52px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    margin-bottom: 10px;
}

.media span {
    color: #999;
}

.media .label-primary:hover{
    color: #ed4040;
}
.gray {
    color: #999;
}

.gray a {
    color: #999;
}

.author-media-avatar img{
    width: 25px;
    height: 25px;
    margin-right: 2px;
    border-radius: 50%;
    text-align: center;
}

.author-name {
    padding-left: 5px;
}
.article-item .article-theme {
    color: #3ca5f6;
}

.load-more {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
    text-align: center;
}

/*.media-body:before {
    content: "";
    width: 0;
    font-size: 0;
    height: 100%;
    visibility: hidden;
    display: inline-block;
    vertical-align: middle;
}*/

.comment{
    color: #999;
}

.wrap-left.pull-left .article-list .article-item {
    padding: 30px 0;
    border-bottom: 1px solid #e8e8e8;
}