.theme-struct .pane-module{
    border-top: none;
}

.doc {
    display: block;
    position: relative;
    overflow: hidden;
}

.theme-struct .doc-image-small-wrapper {
    /*padding: 15px 0;*/
    margin-right: 15px;
    position: relative;
}

.style-small-image .doc-image-small-wrapper {
    float: left;
}

.theme-struct .doc-image-small {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 1px solid #f2f2f2;
    vertical-align: middle;
    padding: 0;
}

.style-small-image .doc-content {
    overflow: hidden;
}

.doc-content {
    padding-top: 10px;
}

.style-small-image.style-content-middle .doc-content-inline {
    padding-top: 10px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
}

.style-small-image.style-content-middle .doc-title {
    margin-top: 0;
}

.theme-struct .doc-title {
    font-size: 14px;
    max-height: 42px;
    overflow: hidden;
}

.theme-struct .doc-content .doc-info {
    margin-top: 5px;
}

.style-small-image.style-content-middle .doc-info {
    position: static;
}

.theme-struct .doc-content .doc-info .summary {
    width: 100%;
    max-height: 40px;
    line-height: 20px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    color: #999;
}

.article-list .article-item:first-child {
    padding-top: 0;
}

.article-list .article-item {
    padding: 8px 0;
    border-bottom: 1px solid #e8e8e8;
}

.article-list .article-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}