.panel-body {
    position: relative;
    /*height: 50px;*/
    /* line-height: 50px; */
    /* font-size: 24px; */
    color: #303030;
    padding-left: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
}

.media-body .media-left {
    display: table-cell;
    vertical-align: top;
}

.img-circle {
    border-radius: 50%;
}

.avatar-lg {
    max-width: 64px;
}

h3{
    font-size: 2.0em;
    line-height: 1.43;
}

.panel-body:before {
    content: '';
    position: absolute;
    width: 4px;
    height: 84px;
    background: #f63756;
    left: 0;
    top: 14px;
}

.user-body:before {
    display: none;
}

.user-left {
    padding-top: 5px;
}