<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tuzixinwen.mapper.ChannelMapper">

    <select id="selectAll" resultType="com.tuzixinwen.model.Channel">
        SELECT
          *
        FROM
          channel
        WHERE
          is_delete = 0
        ORDER BY
          channel_order
    </select>

    <select id="findbyName" resultType="com.tuzixinwen.model.Channel">
        SELECT
          *
        FROM
          channel
        WHERE
          is_delete = 0
        <if test="name != null">
            AND channel_name = #{name}
        </if>
    </select>

</mapper>