/* 通用样式, 下例 demo 单独使用都需要这块样式 */
.banner-user{
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: 350px;
}
.banner-user-elem{
    text-align: center;
    color: #fff;
    position: relative;
    overflow: hidden;
}
.banner-user-elem .banner-user-title{
    font-size: 24px;
    top: 80%;
    /*right: 30%;*/
    color: #fff;
}
.banner-user-elem .banner-user-text{
    top: 40%;
}
.banner-anim-elem .bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.small-slider {
    margin-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    float: left;
}

.small-slider-item {
    height: 168px;
    background-color: #eee;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
}

.small-slider-img {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    border-radius: 5px;
    transition: .5s;
}

.small-slider-item .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(180deg,rgba(0,0,0,.05) 5%,rgba(0,0,0,.65));
}

.small-slider-item .small-banner-title {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    transition: .5s;
}

.banner1{
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* For demo */
.ant-carousel .slick-slide {
    height: 352px;
    text-align: center;
    /*line-height: 352px;*/
    /*background: rgb(255, 255, 255);*/
    /*background: #364d79;*/
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.ant-carousel .slick-list{
    padding-left: 15px;
    padding-right: 15px;
}

.big-slider-item {
    height: 353px;
    background-color: #eee;
    overflow: hidden;
    margin-bottom: 15px;
    border-radius: 5px;
    position: relative;
}

.big-slider-img {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    border-radius: 5px;
    transition: .5s;
}

.big-slider-item .title {
    color: hsla(0,0%,100%,.9);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .5s;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.big-pic .back-img, .big2-pic .back-img {
    position: absolute;
    width: 100%;
}

.big-slider-item .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: linear-gradient(180deg,rgba(0,0,0,.05) 5%,rgba(0,0,0,.65));
}

.ant-carousel .slick-list {
    padding: 0px;
}